<style ></style>

<div class="container">
    {{#each records}}
        {{year}}

    {{#each months}}
    <div class="card">
        <h3 class="card-header">{{_id.month}}  </h3> 
        <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="row">
             {{#each records}}
             <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                {{#each record}}
                 <div class="card">
                        <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                        <div class="card-block">
                                <h5 class="text-bold">{{createdAt}} </h5>
                        </div>
                 </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>

    {{/each}}
        {{!--<div class="row">
             {{#each months}}

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                
                 <div class="card">
                        <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                        <div class="card-block">
                                <h5 class="text-bold">Tawshif Ahsan Khan</h5>
                        </div>
                 </div>
                
            </div>
            {{/each}}
        </div>--}}
    {{/each}}
</div>

{{!--<div class="container">
 {{#each records}}
     {{year}}
         {{#each months}}
<ul>
    <li>
        <p>{{_id.month}}</p>
        {{#each records}}
            <p>{{_id.month}}</p>
                    {{#each record}}
                        {{size}}
                        {{createdAt}}
                    {{/each}}
        {{/each}}
    </li>
</ul>

    {{/each}} 
{{/each}}
</div>--}}




{{!--<div class="container">

<ul class="nav nav-tabs " role="tablist">
     {{#each records}}
   
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" href="#home" role="tab">  {{year}}</a>
  </li>
  {{/each}}
</ul>
  
  
  {{#each records}}
<!-- Tab panes -->

         {{#each months}}
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <div   aria-expanded="true" aria-controls="collapseOne">
                         <p>{{_id.month}}</p>
                    </div>
                </h5>
            </div>
            {{/each}}


            {{#each months}}
            <div id="collapseOne" class="show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-group">
                      {{#each record}}
                    <div class="card">
                        <img class="card-img-top" src="http://via.placeholder.com/211x180" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">  {{createdAt}}</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                                card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                      
                    </div>  
                   
                </div> 
                
            </div>
            {{/each}}

 
  </div>
    {{/each}}
  {{/each}}
</div>

</div>--}}